body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #ff0000;
    color: white;
    padding: 10px;
}

nav {
    margin-top: 5px;
}

    nav a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }

        nav a:hover {
            text-decoration: underline;
        }

main {
    padding: 20px;
}

h2 {
    color: #00695c;
}

.branches p {
    margin: 5px 0;
}
